* {
	background-color: #333;
	font-family: 'Questrial', sans-serif;
}

button {
	background-color: #DDD;
	font-size: 120%;
	border-radius: 3px;
}

canvas {
	border: 2px solid #111;
	border-radius: 10px;	
	display: inline-block;
	background-color: #CCC;
}

p, h1, li {
	color: #DDD;
}

li {
	margin: 10px;
}

#directions {
	margin-left: 100px;
}

h1 {
	text-align: center;
}

#nameButton {
	display: block;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	font-size: 150%;
	padding: 10px;
}

.pButt {
	width: 100px;
	display: inline-block;
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

.drawUI {
	display: table;
	padding-right: 100px;	/* same as .pButt width to center the canvas */
	margin-right: auto;
	margin-left: auto;
}

.palette {
	float: left;
	padding-top: 5px;
}

#nameOutput {
	margin-top: 25px;
	text-align: center;
	font-size: 175%;
}

#credits {
	display: inline-block;
	margin-top: 50px;
	float:left;
}

#ochembuddy {
	display: inline-block;
	margin-top: 50px;
	float: right;
}