* {
	background-color: #333;
	font-family: 'Questrial', sans-serif;
}

button {
	background-color: #DDD;
	font-size: 120%;
	border-radius: 3px;
}

canvas {
	border: 2px solid #111;
	border-radius: 10px;	
	display: inline-block;
	background-color: #CCC;
}

p {
	color: #DDD;
	font-size: 200%;
}

#nameButton {
	display: block;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	font-size: 150%;
	padding: 10px;
}

.pButt {
	width: 70px;
	display: inline-block;
	float: right;
}

.drawUI {
	display: table;
	padding-right: 70px;	/* same as .pButt width to center the canvas */
	margin-right: auto;
	margin-left: auto;
}

.palette {
	float: left;
	padding-top: 5px;
}

#nameOutput {
	margin-top: 25px;
	text-align: center;
}